.app-name {
    position: relative;
    display: inline-block;
    width: 527px;
    height: 50px;
    flex-shrink: 0;
    top: -50px
  }

  .configuration-edit-gear-option-icon {
    position: relative;
    width: 128px;
    height: 128px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame1 {
    align-self: stretch;
    background-color: #b5b5b5;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-mini) 30px 0px;
  }
  .frame-child,
  .frame-item {
    position: absolute;
    top: 0;
    left: 682px;
    border-radius: var(--br-6xl);
    width: 635px;
    height: 735px;
  }
  .frame-item {
    left: 0;
  }
  .spending,
  .user-data {
    position: absolute;
    top: 29px;
    left: 721px;
    display: inline-block;
    width: 339px;
    height: 147px;
  }
  .user-data {
    left: 48px;
    width: 336px;
  }
  .label,
  .shape {
    position: relative;
  }
  .shape {
    border-radius: var(--br-3xs);
    background-color: var(--color-mediumaquamarine);
    width: 12.65px;
    height: 10px;
  }
  .label {
    line-height: 16px;
    display: flex;
    align-items: center;
    width: 185.04px;
    height: 20 px;
    flex-shrink: 0;
  }
  .legend-7 {
    width: 205.6px;
    height: 25.6px;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.00000610351571594947px 3.638634211711178e-7px var(--padding-0);
    box-sizing: border-box;
    gap: var(--gap-6xs);
  }
  .frame3,
  .label1,
  .legend-7 {
    display: flex;
    align-items: center;
  }
  .label1 {
    position: relative;
    line-height: 12px;
    text-align: right;
    width: 55.35px;
    height: 20px;
    flex-shrink: 0;
  }
  .frame3 {
    align-self: stretch;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
  }
  .frame-inner {
    position: relative;
    border-radius: var(--br-21xl);
    background-color: var(--color-mediumaquamarine);
    width: 180.84px;
    height: 8px;
  }
  .frame-parent,
  .rectangle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .rectangle-wrapper {
    align-self: stretch;
    border-radius: var(--br-11xl);
    background-color: var(--color-gainsboro-100);
    justify-content: center;
  }
  .frame-parent {
    position: absolute;
    top: 158.4px;
    left: 25.3px;
    width: 462.28px;
    justify-content: flex-start;
    gap: 17px;
  }
  .chart-header1 {
    position: absolute;
    height: 6.45%;
    width: 89.23%;
    top: 10.91%;
    left: 4.92%;
    font-size: 15px;
    line-height: 10px;
    display: inline-block;
    color: var(--color-gray-100);
  }
  .label2,
  .shape1 {
    position: relative;
  }
  .shape1 {
    border-radius: var(--br-3xs);
    background-color: var(--color-lightseagreen);
    width: 12.65px;
    height: 12.8px;
  }
  .label2 {
    line-height: 16px;
    display: flex;
    align-items: center;
    width: 99.64px;
    height: 25.6px;
    flex-shrink: 0;
  }
  .frame5,
  .legend-5 {
    display: flex;
    flex-direction: row;
  }
  .legend-5 {
    width: 120.2px;
    height: 25.6px;
    align-items: center;
    justify-content: flex-start;
    padding: 0.000003051757857974735px var(--padding-0) var(--padding-0);
    box-sizing: border-box;
    gap: var(--gap-6xs);
  }
  .frame5 {
    align-self: stretch;
    overflow: hidden;
    align-items: flex-start;
    justify-content: space-between;
  }
  .rectangle-div {
    position: relative;
    border-radius: var(--br-21xl);
    background-color: var(--color-lightseagreen);
    width: 134.43px;
    height: 8px;
  }
  .frame-group {
    position: absolute;
    top: 114.49px;
    left: 25.3px;
    width: 462.28px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }
  .label4,
  .shape2 {
    position: relative;
  }
  .shape2 {
    border-radius: var(--br-3xs);
    background-color: var(--color-seagreen);
    width: 12.65px;
    height: 12.8px;
  }
  .label4 {
    line-height: 16px;
    width: 139.18px;
    flex-shrink: 0;
  }
  .div,
  .label4,
  .legend-3 {
    display: flex;
    align-items: center;
    height: 25.6px;
  }
  .legend-3 {
    width: 159.74px;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.00000610351571594947px var(--padding-0) var(--padding-0);
    box-sizing: border-box;
    gap: var(--gap-6xs);
  }
  .div {
    position: relative;
    line-height: 16px;
    text-align: right;
    width: 28.47px;
    flex-shrink: 0;
  }
  .frame-child1 {
    position: relative;
    border-radius: var(--br-21xl);
    background-color: var(--color-seagreen);
    width: 332.12px;
    height: 8px;
  }
  .frame-container {
    position: absolute;
    top: 205px;
    left: 21px;
    width: 462.28px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: var(--gap-lgi);
  }
  .label5,
  .legend-31 {
    height: 25.6px;
    display: flex;
    align-items: center;
  }
  .label5 {
    position: relative;
    line-height: 16px;
    width: 118.62px;
    flex-shrink: 0;
  }
  .legend-31 {
    width: 139.18px;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.00000610351571594947px var(--padding-0) var(--padding-0);
    box-sizing: border-box;
    gap: var(--gap-6xs);
  }
  .frame-child2 {
    position: relative;
    border-radius: var(--br-21xl);
    background-color: var(--color-seagreen);
    width: 55.35px;
    height: 8px;
  }
  .frame-div {
    position: absolute;
    top: 392px;
    left: 27px;
    width: 462.28px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: var(--padding-0) var(--padding-0) 0.000003814697265625px;
    box-sizing: border-box;
    gap: var(--gap-lgi);
  }
  .label6,
  .legend-32 {
    height: 25.6px;
    display: flex;
    align-items: center;
  }
  .label6 {
    position: relative;
    line-height: 16px;
    width: 101.22px;
    flex-shrink: 0;
  }
  .legend-32 {
    width: 121.78px;
    flex-direction: row;
    justify-content: flex-start;
    padding: var(--padding-0) 3.638634211711178e-7px;
    box-sizing: border-box;
    gap: var(--gap-6xs);
  }
  .frame-child3 {
    position: relative;
    border-radius: var(--br-21xl);
    background-color: var(--color-seagreen);
    width: 110.71px;
    height: 8px;
  }
  .frame-parent1 {
    position: absolute;
    top: 294px;
    left: 25px;
    width: 462.28px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: var(--gap-lgi);
  }
  .frame4 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -7.66%;
    right: 0;
    bottom: 7.66%;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    overflow: hidden;
  }
  .chart-header {
    position: absolute;
    top: 204px;
    left: 48px;
    box-shadow: var(--card-shadows-card-16dp-shadow);
    width: 514px;
    height: 496px;
    font-size: var(--font-size-xs);
    color: var(--colors-neutral-black);
    font-family: var(--font-mulish);
  }
  .container {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    height: 479px;
  }
  .frame9 {
    position: absolute;
    top: 0;
    left: -15.23px;
    width: 525.46px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .chart-header2 {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 120.32px;
    height: 30.9px;
    flex-shrink: 0;
  }
  .frame11 {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .ellipse-div {
    position: absolute;
    height: 64.32%;
    width: 64.32%;
    top: 17.84%;
    right: 17.84%;
    bottom: 17.84%;
    left: 17.84%;
    border-radius: 50%;
    background-color: var(--colors-neutral-gray-4);
    opacity: 0.7;
  }
  .frame-child4,
  .frame-child5 {
    position: absolute;
    height: 82.84%;
    width: 82.84%;
    top: 8.58%;
    right: 8.58%;
    bottom: 8.58%;
    left: 8.58%;
    border-radius: 50%;
    background-color: var(--color-mediumaquamarine);
  }
  .frame-child5 {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-lightseagreen);
  }
  .label7,
  .label8 {
    position: absolute;
    height: 16.34%;
    width: 26.96%;
    left: 36.93%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .label7 {
    top: 37.9%;
    line-height: 18.89px;
    font-weight: 600;
  }
  .label8 {
    top: 49.6%;
    font-size: 11.16px;
    line-height: 15.46px;
  }
  .ellipse-parent {
    position: undefined;
    width: 198.61px;
    height: 201.4907684326172px;
    margin-left: 0;
  }
  .label9,
  .shape5 {
    position: relative;
  }
  .label9 {
    line-height: 13px;
    font-weight: 600;
    display: inline-block;
    width: 50.26px;
    height: 20.09px;
    flex-shrink: 0;
  }
  .shape5 {
    border-radius: var(--br-7xs);
    background-color: var(--color-lightseagreen);
    width: 12.18px;
    height: 12.36px;
  }
  .label10 {
    position: relative;
    line-height: 16px;
    display: inline-block;
    width: 39.6px;
    height: 24.72px;
    flex-shrink: 0;
  }
  .label-parent,
  .shape-parent {
    width: 59.4px;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .shape-parent {
    height: 24.72px;
    flex-direction: row;
    align-items: center;
    padding: 2.461094936734298e-7px var(--padding-0) var(--padding-0);
    gap: var(--gap-6xs);
    font-size: var(--font-size-xs);
    color: var(--colors-neutral-black);
  }
  .label-parent {
    height: 53.73px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.000002214985670434544px var(--padding-0) var(--padding-0)
      0.15059711039066315px;
    gap: var(--gap-5xs);
  }
  .label11 {
    position: relative;
    line-height: 13px;
    font-weight: 600;
    display: inline-block;
    width: 79.2px;
    height: 20.09px;
    flex-shrink: 0;
  }
  .shape6 {
    position: relative;
    border-radius: var(--br-7xs);
    background-color: var(--colors-primary-purple-2);
    width: 12.18px;
    height: 12.36px;
  }
  .label-group,
  .shape-group {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .shape-group {
    width: 59.4px;
    height: 24.72px;
    flex-direction: row;
    align-items: center;
    padding: 0.000007383285264950246px 3.8146970382513246e-7px var(--padding-0);
    gap: var(--gap-6xs);
    font-size: var(--font-size-xs);
  }
  .label-group {
    width: 79.35px;
    height: 53.73px;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-0) var(--padding-0) var(--padding-0)
      0.15059661865234375px;
    gap: var(--gap-5xs);
    color: var(--colors-neutral-black);
  }
  .frame14 {
    width: 236.23px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .label13 {
    position: relative;
    line-height: 13px;
    font-weight: 600;
    display: inline-block;
    width: 38.08px;
    height: 20.09px;
    flex-shrink: 0;
  }
  .shape7 {
    position: relative;
    border-radius: var(--br-7xs);
    background-color: #ececec;
    width: 12.18px;
    height: 12.36px;
  }
  .label-container,
  .shape-container {
    width: 59.4px;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .shape-container {
    height: 24.72px;
    flex-direction: row;
    align-items: center;
    padding: 0.000007383285264950246px 0.0000010857214647330693px var(--padding-0);
    gap: var(--gap-6xs);
    font-size: var(--font-size-xs);
  }
  .label-container {
    height: 53.73px;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-0) var(--padding-0) var(--padding-0)
      0.15059661865234375px;
    gap: var(--gap-5xs);
    color: var(--colors-neutral-black);
  }
  .frame-parent2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .frame13 {
    align-self: stretch;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    font-size: var(--font-size-smi);
    color: #44444f;
    font-family: var(--font-mulish);
  }
  .frame10,
  .frame12,
  .frame13 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .frame12 {
    align-self: stretch;
    align-items: center;
    justify-content: flex-start;
    gap: 76px;
    text-align: center;
    font-size: 14.6px;
    color: var(--colors-neutral-black);
    font-family: var(--font-sf-pro-text);
  }
  .frame10 {
    position: absolute;
    top: 24.72px;
    left: 24.22px;
    width: 446.56px;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 60px;
  }
  .csp-score {
    position: absolute;
    top: 176px;
    left: 732px;
    box-shadow: var(--card-shadows-card-16dp-shadow);
    width: 495px;
    height: 479px;
    font-size: 16px;
    color: var(--color-gray-100);
    font-family: var(--font-mulish);
  }
  .frame,
  .frame2 {
    align-self: stretch;
    overflow: hidden;
  }
  .frame2 {
    position: relative;
    height: 735px;
    flex-shrink: 0;
    font-size: var(--font-size-51xl);
  }
  .frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 424px;
  }
  .welcome-anthony {
    align-self: stretch;
    position: relative;
  }
  .frame17,
  .rectangle-icon {
    border-radius: var(--br-6xl);
  }
  .frame17 {
    align-self: stretch;
    background-color: rgba(33, 171, 201, 0.8);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mini) 66px;
  }
  .rectangle-icon {
    position: absolute;
    top: 5px;
    left: 0;
    width: 1316px;
    height: 862px;
  }
  .financial-literacy-tips {
    position: absolute;
    top: 0;
    left: 14px;
    display: inline-block;
    width: 764px;
    height: 147px;
  }
  .frame16,
  .frame18 {
    align-self: stretch;
    overflow: hidden;
  }
  .frame18 {
    position: relative;
    height: 867px;
    flex-shrink: 0;
    font-size: var(--font-size-51xl);
  }
  .frame16 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 830px;
  }
  .frame-child6 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-6xl);
    width: 1316px;
    height: 181px;
  }
  .ai-chatbot {
    position: absolute;
    top: 17px;
    left: 62px;
    display: inline-block;
    width: 1028px;
    height: 147px;
  }
  .frame19 {
    align-self: stretch;
    position: relative;
    height: 181px;
    overflow: hidden;
    flex-shrink: 0;
    font-size: var(--font-size-56xl);
  }
  .dash-page,
  .frame15 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .frame15 {
    align-self: stretch;
    align-items: flex-start;
    justify-content: flex-end;
    padding: var(--padding-0) 2px var(--padding-0) var(--padding-0);
    gap: 45px;
    margin-top: -1113px;
    font-size: 100px;
  }
  .dash-page {
    position: relative;
    background-color: #0e5d76;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: var(--font-size-56xl);
    color: var(--color-white);
    font-family: var(--font-kadwa);
  }
  